@charset "UTF 8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box  ;
    text-align: center;
}

body, html {
    background-image: linear-gradient(to left, rgb(181, 181, 181), rgb(196, 251, 255));
    
}

h1#idaluno {
    background-image:linear-gradient(to left, rgb(255, 196, 0), rgb(255, 187, 0));
   border: 1px solid rgb(186, 133, 0);
   padding: 7px;
}

div.imgalunos {
    display: inline-block;
    margin: 10px;
    height: 240px;
    width: 180px;
    background-color: white;
}

div.prof {
    display: inline-block;
    margin: 10px;
    height: 240px;
    width: 180px;
    background-color: white;
}

h1.nome, p.frase {
    display: inline-block;
}


footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 1em;
}

a {
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 5px rgb(0, 204, 255),
    0px 0px 7px rgb(0, 204, 255),
    0px 0px 10px rgb(0, 204, 255)
    ;
}