@charset "UTF 8";

/* Editar futuramente!! */

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box  ;
    text-align: center;
}

body, html {
    background-image: linear-gradient(to left, rgb(181, 181, 181), rgb(196, 251, 255));
    
}

h1#idaluno {
    background-image:linear-gradient(to left, rgb(255, 196, 0), rgb(255, 187, 0));
   border: 1px solid rgb(186, 133, 0);
   padding: 7px;
}

div.imgalunos {
    display: inline-block;
    margin: 10px;
    height: 240px;
    width: 180px;
    background-color: black;
}
